USE [master]
GO
/****** Objeto: Database [DBIncidencias] Fecha de script: 2/9/2026 13:00:14 ******/
CREATE DATABASE [DBIncidencias]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBIncidencias', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBIncidencias.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBIncidencias_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBIncidencias_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBIncidencias].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBIncidencias]
GO
/****** Objeto: Table [dbo].[Areas] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[IdArea] [int] IDENTITY(1,1) NOT NULL,
	[NombreArea] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Auditoria] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdUsuario] [int] NULL,
	[NombreUsuario] [varchar](150) NOT NULL,
	[Accion] [varchar](50) NOT NULL,
	[Entidad] [varchar](50) NOT NULL,
	[EntidadId] [int] NULL,
	[Detalle] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estados] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Guias] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guias](
	[IdGuia] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Problema] [varchar](max) NOT NULL,
	[Solucion] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGuia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Incidencias] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidencias](
	[IdIncidencia] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Empleado] [varchar](150) NOT NULL,
	[IdArea] [int] NOT NULL,
	[TipoIncidencia] [varchar](100) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[IdPrioridad] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[IdTecnicoAsignado] [int] NULL,
	[FechaSolucion] [datetime] NULL,
	[Observaciones] [varchar](max) NULL,
	[NumeroTicket]  AS ('Solicitud-'+right('00000'+CONVERT([varchar](10),[IdIncidencia]),(5))) PERSISTED,
	[EscaladoSLA] [bit] NOT NULL,
	[FilaVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIncidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Prioridades] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridades](
	[IdPrioridad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrioridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ReportesMensualesEnviados] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportesMensualesEnviados](
	[IdReporte] [int] IDENTITY(1,1) NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[FechaEnvio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ReporteMensual] UNIQUE NONCLUSTERED 
(
	[Anio] ASC,
	[Mes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TelegramMensajes] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelegramMensajes](
	[IdIncidencia] [int] NOT NULL,
	[ChatId] [bigint] NOT NULL,
	[MessageId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
	[TelegramChatId] [bigint] NULL,
	[IntentosFallidos] [int] NOT NULL,
	[BloqueadoHasta] [datetime] NULL,
	[FotoPerfil] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Usuario] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Index [IX_Auditoria_Fecha] Fecha de script: 2/9/2026 13:00:14 ******/
CREATE NONCLUSTERED INDEX [IX_Auditoria_Fecha] ON [dbo].[Auditoria]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Incidencias_Fecha] Fecha de script: 2/9/2026 13:00:14 ******/
CREATE NONCLUSTERED INDEX [IX_Incidencias_Fecha] ON [dbo].[Incidencias]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Incidencias_IdArea] Fecha de script: 2/9/2026 13:00:14 ******/
CREATE NONCLUSTERED INDEX [IX_Incidencias_IdArea] ON [dbo].[Incidencias]
(
	[IdArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Incidencias_IdEstado] Fecha de script: 2/9/2026 13:00:14 ******/
CREATE NONCLUSTERED INDEX [IX_Incidencias_IdEstado] ON [dbo].[Incidencias]
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Incidencias_IdTecnico] Fecha de script: 2/9/2026 13:00:14 ******/
CREATE NONCLUSTERED INDEX [IX_Incidencias_IdTecnico] ON [dbo].[Incidencias]
(
	[IdTecnicoAsignado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT ((0)) FOR [EscaladoSLA]
GO
ALTER TABLE [dbo].[ReportesMensualesEnviados] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Auditoria] CHECK CONSTRAINT [FK_Auditoria_Usuarios]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Areas] FOREIGN KEY([IdArea])
REFERENCES [dbo].[Areas] ([IdArea])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Areas]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Estados]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Prioridades] FOREIGN KEY([IdPrioridad])
REFERENCES [dbo].[Prioridades] ([IdPrioridad])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Prioridades]
GO
ALTER TABLE [dbo].[Incidencias]  WITH CHECK ADD  CONSTRAINT [FK_Incidencias_Tecnico] FOREIGN KEY([IdTecnicoAsignado])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Incidencias_Tecnico]
GO
ALTER TABLE [dbo].[TelegramMensajes]  WITH CHECK ADD  CONSTRAINT [FK_TelegramMensajes_Incidencias] FOREIGN KEY([IdIncidencia])
REFERENCES [dbo].[Incidencias] ([IdIncidencia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TelegramMensajes] CHECK CONSTRAINT [FK_TelegramMensajes_Incidencias]
GO
/****** Objeto: StoredProcedure [dbo].[sp_Areas_Eliminar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR
CREATE PROCEDURE [dbo].[sp_Areas_Eliminar]
    @IdArea INT
AS
BEGIN
    DELETE FROM dbo.Areas
    WHERE IdArea = @IdArea;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Areas_Insertar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- INSERTAR
CREATE PROCEDURE [dbo].[sp_Areas_Insertar]
    @NombreArea VARCHAR(100)
AS
BEGIN
    INSERT INTO dbo.Areas (NombreArea)
    VALUES (@NombreArea);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Areas_Listar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   1. PROCEDIMIENTOS PARA LA TABLA: Areas
   ============================================================ */

-- LISTAR
CREATE PROCEDURE [dbo].[sp_Areas_Listar]
AS
BEGIN
    SELECT IdArea, NombreArea 
    FROM dbo.Areas
    ORDER BY NombreArea ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Areas_Modificar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MODIFICAR
CREATE PROCEDURE [dbo].[sp_Areas_Modificar]
    @IdArea INT,
    @NombreArea VARCHAR(100)
AS
BEGIN
    UPDATE dbo.Areas
    SET NombreArea = @NombreArea
    WHERE IdArea = @IdArea;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Auditoria_Insertar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Auditoria_Insertar]
    @IdUsuario INT = NULL,
    @NombreUsuario VARCHAR(150),
    @Accion VARCHAR(50),
    @Entidad VARCHAR(50),
    @EntidadId INT = NULL,
    @Detalle VARCHAR(MAX) = NULL
AS
BEGIN
    INSERT INTO dbo.Auditoria (IdUsuario, NombreUsuario, Accion, Entidad, EntidadId, Detalle)
    VALUES (@IdUsuario, @NombreUsuario, @Accion, @Entidad, @EntidadId, @Detalle);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Auditoria_Listar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Auditoria_Listar]
AS
BEGIN
    SELECT IdAuditoria, Fecha, IdUsuario, NombreUsuario, Accion, Entidad, EntidadId, Detalle
    FROM dbo.Auditoria
    ORDER BY Fecha DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Estados_Eliminar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR
CREATE PROCEDURE [dbo].[sp_Estados_Eliminar]
    @IdEstado INT
AS
BEGIN
    DELETE FROM dbo.Estados
    WHERE IdEstado = @IdEstado;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Estados_Insertar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- INSERTAR
CREATE PROCEDURE [dbo].[sp_Estados_Insertar]
    @Nombre VARCHAR(50)
AS
BEGIN
    INSERT INTO dbo.Estados (Nombre)
    VALUES (@Nombre);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Estados_Listar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   3. PROCEDIMIENTOS PARA LA TABLA: Estados
   ============================================================ */

-- LISTAR
CREATE PROCEDURE [dbo].[sp_Estados_Listar]
AS
BEGIN
    SELECT IdEstado, Nombre 
    FROM dbo.Estados
    ORDER BY IdEstado ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Estados_Modificar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MODIFICAR
CREATE PROCEDURE [dbo].[sp_Estados_Modificar]
    @IdEstado INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    UPDATE dbo.Estados
    SET Nombre = @Nombre
    WHERE IdEstado = @IdEstado;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Guias_Eliminar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR
CREATE PROCEDURE [dbo].[sp_Guias_Eliminar]
    @IdGuia INT
AS
BEGIN
    DELETE FROM dbo.Guias
    WHERE IdGuia = @IdGuia;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Guias_Insertar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- INSERTAR
CREATE PROCEDURE [dbo].[sp_Guias_Insertar]
    @Titulo VARCHAR(150),
    @Problema VARCHAR(MAX),
    @Solucion VARCHAR(MAX)
AS
BEGIN
    INSERT INTO dbo.Guias (Titulo, Problema, Solucion)
    VALUES (@Titulo, @Problema, @Solucion);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Guias_Listar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   5. PROCEDIMIENTOS PARA LA TABLA: Guias
   ============================================================ */

-- LISTAR
CREATE PROCEDURE [dbo].[sp_Guias_Listar]
AS
BEGIN
    SELECT IdGuia, Titulo, Problema, Solucion 
    FROM dbo.Guias
    ORDER BY Titulo ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Guias_Modificar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MODIFICAR
CREATE PROCEDURE [dbo].[sp_Guias_Modificar]
    @IdGuia INT,
    @Titulo VARCHAR(150),
    @Problema VARCHAR(MAX),
    @Solucion VARCHAR(MAX)
AS
BEGIN
    UPDATE dbo.Guias
    SET Titulo = @Titulo,
        Problema = @Problema,
        Solucion = @Solucion
    WHERE IdGuia = @IdGuia;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Incidencias_ActualizarEstadoTelegram] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Incidencias_ActualizarEstadoTelegram]
    @IdIncidencia INT,
    @IdTecnico INT,
    @IdNuevoEstado INT,
    @Observaciones VARCHAR(MAX), -- 🔥 NUEVO PARÁMETRO
    @Resultado INT OUTPUT 
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificamos que la incidencia pertenezca realmente a este técnico
    IF EXISTS (SELECT 1 FROM Incidencias WHERE IdIncidencia = @IdIncidencia AND IdTecnicoAsignado = @IdTecnico)
    BEGIN
        UPDATE Incidencias 
        SET IdEstado = @IdNuevoEstado,
            Observaciones = @Observaciones, -- 🔥 GUARDAMOS EL TEXTO AQUÍ
            FechaSolucion = CASE WHEN @IdNuevoEstado IN (SELECT IdEstado FROM Estados WHERE Nombre IN ('Resuelto', 'Cerrado')) THEN GETDATE() ELSE FechaSolucion END
        WHERE IdIncidencia = @IdIncidencia;

        SET @Resultado = 1;
    END
    ELSE
    BEGIN
        SET @Resultado = 0;
    END
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Incidencias_AsignarTecnicoTelegram] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Incidencias_AsignarTecnicoTelegram]
    @IdIncidencia INT,
    @IdTecnico INT,
    @IdEstadoEnProceso INT,
    @Resultado INT OUTPUT -- 1 = Éxito, 0 = Ya fue tomado por otro
AS
BEGIN
    SET NOCOUNT ON;

    -- Validamos si la incidencia aún no tiene técnico asignado
    IF EXISTS (SELECT 1 FROM Incidencias WHERE IdIncidencia = @IdIncidencia AND (IdTecnicoAsignado IS NULL OR IdTecnicoAsignado = 0))
    BEGIN
        UPDATE Incidencias 
        SET IdTecnicoAsignado = @IdTecnico, 
            IdEstado = @IdEstadoEnProceso
        WHERE IdIncidencia = @IdIncidencia;

        SET @Resultado = 1; -- Asignado con éxito
    END
    ELSE
    BEGIN
        SET @Resultado = 0; -- Ya estaba tomado
    END
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Incidencias_Eliminar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR
CREATE PROCEDURE [dbo].[sp_Incidencias_Eliminar]
    @IdIncidencia INT
AS
BEGIN
    DELETE FROM dbo.Incidencias
    WHERE IdIncidencia = @IdIncidencia;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Incidencias_Insertar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Incidencias_Insertar]
    @Empleado VARCHAR(150),
    @IdArea INT,
    @TipoIncidencia VARCHAR(100),
    @Descripcion VARCHAR(MAX),
    @IdPrioridad INT,
    @IdEstado INT,
    @IdTecnicoAsignado INT = NULL,
    @Observaciones VARCHAR(MAX) = NULL
AS
BEGIN
    INSERT INTO dbo.Incidencias (Empleado, IdArea, TipoIncidencia, Descripcion, IdPrioridad, IdEstado, IdTecnicoAsignado, Observaciones)
    VALUES (@Empleado, @IdArea, @TipoIncidencia, @Descripcion, @IdPrioridad, @IdEstado, @IdTecnicoAsignado, @Observaciones);

    RETURN CAST(SCOPE_IDENTITY() AS INT);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Incidencias_Listar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   6. PROCEDIMIENTOS PARA LA TABLA: Incidencias
   ============================================================ */

-- LISTAR (Incluye JOINs para traer los nombres en lugar de solo IDs)
CREATE PROCEDURE [dbo].[sp_Incidencias_Listar]
AS
BEGIN
    SELECT 
               i.IdIncidencia,
        i.NumeroTicket,
        i.Fecha,
        i.Empleado,
        i.IdArea,
        a.NombreArea,
        i.TipoIncidencia,
        i.Descripcion,
        i.IdPrioridad,
        p.Nombre AS NombrePrioridad,
        i.IdEstado,
        e.Nombre AS NombreEstado,
        i.IdTecnicoAsignado,
        (u.Nombre + ' ' + u.Apellido) AS TecnicoAsignado,
        i.FechaSolucion,
        i.Observaciones,
        i.FilaVersion
    FROM dbo.Incidencias i
    INNER JOIN dbo.Areas a ON i.IdArea = a.IdArea
    INNER JOIN dbo.Prioridades p ON i.IdPrioridad = p.IdPrioridad
    INNER JOIN dbo.Estados e ON i.IdEstado = e.IdEstado
    LEFT JOIN dbo.Usuarios u ON i.IdTecnicoAsignado = u.IdUsuario
    ORDER BY i.Fecha DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Incidencias_Modificar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MODIFICAR
CREATE PROCEDURE [dbo].[sp_Incidencias_Modificar]
    @IdIncidencia INT,
    @Empleado VARCHAR(150),
    @IdArea INT,
    @TipoIncidencia VARCHAR(100),
    @Descripcion VARCHAR(MAX),
    @IdPrioridad INT,
    @IdEstado INT,
    @IdTecnicoAsignado INT = NULL,
    @FechaSolucion DATETIME = NULL,
    @Observaciones VARCHAR(MAX) = NULL,
    @FilaVersionOriginal BINARY(8)
AS
BEGIN
    UPDATE dbo.Incidencias
    SET Empleado = @Empleado,
        IdArea = @IdArea,
        TipoIncidencia = @TipoIncidencia,
        Descripcion = @Descripcion,
        IdPrioridad = @IdPrioridad,
        IdEstado = @IdEstado,
        IdTecnicoAsignado = @IdTecnicoAsignado,
        FechaSolucion = @FechaSolucion,
        Observaciones = @Observaciones
    WHERE IdIncidencia = @IdIncidencia 
    AND FilaVersion = @FilaVersionOriginal;

    RETURN @@ROWCOUNT;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Prioridades_Eliminar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR
CREATE PROCEDURE [dbo].[sp_Prioridades_Eliminar]
    @IdPrioridad INT
AS
BEGIN
    DELETE FROM dbo.Prioridades
    WHERE IdPrioridad = @IdPrioridad;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Prioridades_Insertar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- INSERTAR
CREATE PROCEDURE [dbo].[sp_Prioridades_Insertar]
    @Nombre VARCHAR(50)
AS
BEGIN
    INSERT INTO dbo.Prioridades (Nombre)
    VALUES (@Nombre);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Prioridades_Listar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   2. PROCEDIMIENTOS PARA LA TABLA: Prioridades
   ============================================================ */

-- LISTAR
CREATE PROCEDURE [dbo].[sp_Prioridades_Listar]
AS
BEGIN
    SELECT IdPrioridad, Nombre 
    FROM dbo.Prioridades
    ORDER BY IdPrioridad ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Prioridades_Modificar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MODIFICAR
CREATE PROCEDURE [dbo].[sp_Prioridades_Modificar]
    @IdPrioridad INT,
    @Nombre VARCHAR(50)
AS
BEGIN
    UPDATE dbo.Prioridades
    SET Nombre = @Nombre
    WHERE IdPrioridad = @IdPrioridad;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_Eliminar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR
CREATE PROCEDURE [dbo].[sp_Usuarios_Eliminar]
    @IdUsuario INT
AS
BEGIN
    DELETE FROM dbo.Usuarios
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_Insertar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- INSERTAR
CREATE PROCEDURE [dbo].[sp_Usuarios_Insertar]
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Correo VARCHAR(150),
    @Usuario VARCHAR(50),
    @Password VARCHAR(255),
    @Rol VARCHAR(50),
    @Estado BIT
AS
BEGIN
    INSERT INTO dbo.Usuarios (Nombre, Apellido, Correo, Usuario, Password, Rol, Estado)
    VALUES (@Nombre, @Apellido, @Correo, @Usuario, @Password, @Rol, @Estado);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_Listar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Usuarios_Listar]
AS
BEGIN
    SELECT IdUsuario, Nombre, Apellido, Correo, Usuario, Password, Rol, Estado,
           TelegramChatId, IntentosFallidos, BloqueadoHasta, FotoPerfil
    FROM dbo.Usuarios
    ORDER BY Apellido, Nombre ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_Login] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Usuarios_Login]
    @Usuario VARCHAR(50)
AS
BEGIN
    SELECT IdUsuario, Nombre, Apellido, Correo, Usuario, Password, Rol, Estado,
           TelegramChatId, IntentosFallidos, BloqueadoHasta, FotoPerfil
    FROM dbo.Usuarios
    WHERE Usuario = @Usuario
      AND Estado = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_Modificar] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Usuarios_Modificar]
    @IdUsuario INT,
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Correo VARCHAR(150),
    @Usuario VARCHAR(50),
    @Password VARCHAR(255),
    @Rol VARCHAR(50),
    @Estado BIT,
    @TelegramChatId BIGINT = NULL,
    @FotoPerfil VARBINARY(MAX) = NULL
AS
BEGIN
    UPDATE dbo.Usuarios
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Correo = @Correo,
        Usuario = @Usuario,
        Password = @Password,
        Rol = @Rol,
        Estado = @Estado,
        TelegramChatId = @TelegramChatId,
        FotoPerfil = @FotoPerfil
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_RegistrarIntentoFallido] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Usuarios_RegistrarIntentoFallido]
    @IdUsuario INT
AS
BEGIN
    UPDATE dbo.Usuarios
    SET IntentosFallidos = IntentosFallidos + 1,
        BloqueadoHasta = CASE
            WHEN IntentosFallidos + 1 >= 5 THEN DATEADD(MINUTE, 5, GETDATE())
            ELSE BloqueadoHasta
        END
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuarios_ResetearIntentos] Fecha de script: 2/9/2026 13:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Usuarios_ResetearIntentos]
    @IdUsuario INT
AS
BEGIN
    UPDATE dbo.Usuarios
    SET IntentosFallidos = 0,
        BloqueadoHasta = NULL
    WHERE IdUsuario = @IdUsuario;
END
GO
USE [master]
GO
